body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	background-image: url(./images/background.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.form{
	width: 320px;
	height: 400px;
	background-color: antiquewhite;
	border-radius: 10px;
	padding: 25px;

}

.form h2 {
	display: flex;
	width: auto;
	justify-content: center;
}

.form input {
	width: 250px;
	height: 35px;
	background: transparent;
	border-right: none;
	border-top: none;
	border-left: none;
	font-size: 15px;
	font-family: sans-serif;
	margin-top: 30px;
}

.form input:focus {
	outline: none;
}

.but {
	width: 140px;
	height: 40px;
	text-align: center;
	background: rgb(227, 157, 148);
	margin-top: 30px;
	font-size: 18px;
	border-radius: 10px;
	color: white;
} 

.but a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.form .not {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
}

.form .not a {
	text-decoration: none;
}

.ext {
	font-family:sans-serif;
	font-weight: bold;
	text-align: center;
}

.icon a {
	text-decoration: none;
}

.icon ion-icon {
	font-size: 35px;
	padding-left: 50px;
	padding-top: 5px;
}