html {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

h1 {
    font-family: "Monaco";
    letter-spacing: 5px;
    color: white;
    display: inline;

}